{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Savatcha' %}
{% endblock title %}

{% block main %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">{% trans 'Savatcha' %}</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Bosh sahifa' %}</a></li>
        <li class="breadcrumb-item active text-white">{% trans 'Savatcha' %}</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Mahsulotlar' %}</th>
                    <th scope="col">{% trans 'Nomi' %}</th>
                    <th scope="col">{% trans 'Narxi' %}</th>
                    <th scope="col">{% trans 'Miqdori' %}</th>
                    <th scope="col">{% trans 'Jami' %}</th>
                    <th scope="col">{% trans "O'chirish" %}</th>
                </tr>
                </thead>
                <tbody>
                    {% if products %}
                    {% for item in products %}
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="{{ item.product.images.first.image.url }}" class="img-fluid me-5 rounded-circle"
                                     style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ item.product.name }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{% if item.product.get_discount_price %}{{ item.product.get_discount_price }}{% else %}{{ item.product.price }}{% endif %} {{ item.product.currency }}</p>
                        </td>
                        <td>
                            <form method="post" action="{% url 'update-to-cart' item.product.slug %}">
                                {% csrf_token %}
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button type="submit" name="action" value="minus" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>

                                    <input type="text" name="quantity"
                                           class="form-control form-control-sm text-center border-0"
                                           value="{{ item.quantity }}"
                                           style="border: none; background: transparent; outline: none; width: 30px;" readonly>

                                    <div class="input-group-btn">
                                        <button type="submit" name="action" value="plus" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ item.total_price }} {{ item.product.currency }}</p>
                        </td>

                        <td>
                            <form method="post" action="{% url 'delete-to-cart' item.product.slug %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4">
                                    <i class="fa fa-times text-danger"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <div class="alert alert-warning" role="alert" id="no-product-alert">
                                <strong>{% trans "Savatda mahsulot yo‘q." %}</strong> {% trans "Savatingiz bo'sh!" %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>

            </table>
        </div>
        <form method="post" action="{% url 'apply-coupon' %}">
            {% csrf_token %}
            <div class="mt-5">
                <input type="text" name="coupon" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="{% trans 'Kupon kodi' %}">
                <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit">{% trans "Kuponni qo'llash" %}</button>
            </div>
        </form>

        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">{% trans 'Savatcha' %} <span class="fw-normal">{% trans 'Jami' %}</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">{% trans 'Qisman' %}:</h5>
                            <p class="mb-0">{{ total }} UZS</p>
                        </div>
                        {% if coupon_price %}
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">{% trans 'Kupon narxi' %}:</h5>
                            <p class="mb-0">{{ coupon_price }} UZS</p>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">{% trans 'Yetkazib berish' %}</h5>
                            <div class="">
                                <p class="mb-0">{% trans 'Yagona narx' %}: {{ shipping }} UZS</p>
                            </div>
                        </div>
                        <p class="mb-0 text-end">{% trans "O'zbekiston bo'ylab yetkazib berish." %}</p>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">{% trans 'Jami' %}</h5>
                        <p class="mb-0 pe-4">{% if total != 0 %}{{ total|add:shipping|floatformat:2 }}{% else %}0{% endif %} UZS</p>
                    </div>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                            type="button">{% trans "To'lovni yakunlash" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

{% endblock main %}